{
  "source": {
    "directories": [
      "src"
    ]
  },
  "timeout": 10,
  "logs": {
    "text": "build/infection/infection.log",
    "summary": "build/infection/summary.log",
    "perMutator": "build/infection/per-mutator.md"
  },
  "phpUnit": {
    "configDir": "."
  },
  "mutators": {
    "@default": true
  },
  "testFramework":"phpunit",
  "testFrameworkOptions": "-vvv"
}
